.day, .week{
    width:100px;
    height: 75px;
    border: 3px solid blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: 25px;
    padding: 10px;
    font-weight: bolder;

}
.day:hover{
    background-color: aquamarine;
    color: blue;
    box-shadow: 20px 15px 20px green;
    transform: scale(1.5);
}

.calender-container{
    width:80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    gap: 20px;

}
.week{
    background-color:black ;
    color: aliceblue;
}